bin
.old
obj
src/cpu/a68k/mips32r1/*.txt
src/cpu/a68k/mips32r1/*.s
src/cpu/a68k/mips32r1/*.inc
src/dep/generated/*
*.bat
*.exe
*.dge
*.zip
*.fba
*.opk
*.o
*.d
*~.*
fbasdl.ini
gamelist.txt
TODO.txt